<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wds.mapper.AddressBookMapper">
    <resultMap id="book" type="com.wds.entity.AddressBook">
        <result column="user_id" property="userId"/>

        <result column="province_code" property="provinceCode"/>
        <result column="province_name" property="provinceName"/>

        <result column="district_code" property="districtCode"/>
        <result column="district_name" property="districtName"/>

        <result column="is_default" property="isDefault"/>

        <result column="create_time" property="createTime"/>
        <result column="create_user" property="createUser"/>

        <result column="update_time" property="updateTime"/>
        <result column="update_user" property="updateUser"/>
    </resultMap>
    <insert id="save">
        insert into address_book(id, user_id, consignee, sex, phone, detail, label, create_time, update_time, create_user, update_user)
        values (#{id}, #{userId}, #{consignee}, #{sex}, #{phone}, #{detail}, #{label}, #{createTime}, #{updateTime}, #{createUser}, #{updateUser})
    </insert>
    <update id="closeDefault">
        update address_book set is_default = 0 where user_id = #{userId} and is_default = 1
    </update>
    <update id="setDefault">
        update address_book set is_default = 1 where id = #{id}
    </update>
    <update id="update">
        update address_book
        set consignee = #{consignee}, sex =#{sex}, phone = #{phone}, detail = #{detail}, label = #{label}, update_time = #{updateTime}, update_user = #{updateUser}
        where id = #{id}
    </update>
    <delete id="remove">
        delete
        from address_book
        where id = #{id};
    </delete>
    <select id="getList" resultMap="book">
        select * from address_book where user_id = #{userId}
    </select>
    <select id="getById" resultMap="book">
        select * from address_book where id = #{id}
    </select>
    <select id="getDefault" resultMap="book">
        select * from address_book where user_id = #{userId} order by is_default desc limit 0,1
    </select>
</mapper>