<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wds.mapper.CategoryMapper">
    <resultMap id="category" type="com.wds.entity.Category">
        <result property="createUser" column="create_user"/>
        <result property="createTime" column="create_time"/>
        <result property="updateUser" column="update_user"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>


    <insert id="save">
        insert into category(id, type, name, create_time, update_time, create_user, update_user)
        VALUES (#{id}, #{type}, #{name}, #{createTime}, #{updateTime}, #{createUser}, #{updateUser})
    </insert>

    <update id="update">
        update category
        <set>
            <if test="name != null">
                name = #{name}
            </if>
            <if test="sort != null">
                , sort = #{sort}
            </if>
            ,update_time = #{updateTime}
            ,update_user = #{updateUser}
        </set>
        where id = #{id}

    </update>
    <delete id="delete">
        delete
        from category
        where id = #{id}
    </delete>

    <select id="page" resultMap="category">
        select *
        from category
        order by sort asc, update_time desc #根据sort排序 小的在前面
        limit #{page},#{pageSize}
    </select>
    <select id="count" resultType="integer">
        select count(id)
        from category
    </select>
    <select id="getList" resultMap="category">
        select *
        from category
        <where>
            <if test="type != null">
                type = #{type}
            </if>
        </where>
    </select>

</mapper>