<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wds.mapper.DishMapper">
    <resultMap id="dish" type="com.wds.entity.Dish">
        <result  property="categoryId" column="category_id"/>
        <result  property="createTime" column="create_time"/>
        <result  property="updateTime" column="update_time"/>
        <result  property="createUser" column="create_user"/>
        <result  property="updateUser" column="update_user"/>
    </resultMap>

    <resultMap id="dishDto" type="com.wds.dto.DishDto">
        <result  property="categoryId" column="category_id"/>
        <result  property="createTime" column="create_time"/>
        <result  property="updateTime" column="update_time"/>
        <result  property="createUser" column="create_user"/>
        <result  property="updateUser" column="update_user"/>
    </resultMap>

    <insert id="save">
        insert into dish(id, name, category_id, price, code, image, description, create_time, update_time, create_user, update_user)
        values (#{id}, #{name}, #{categoryId}, #{price}, #{code}, #{image}, #{description}, #{createTime}, #{createTime}, #{createUser}, #{createUser})
    </insert>
    <update id="update">
        update dish
        set name = #{name}, price = #{price} , category_id = #{categoryId}, image = #{image}, description = #{description}
        where id = #{id}
    </update>
    <update id="updateStatus">
        update dish
        set status = #{status}
        where id in (
            <foreach collection="ids" item="id" separator=",">
                #{id}
            </foreach>
            )
    </update>
    <delete id="delete">
        delete from dish
        where id in (
            <foreach collection="list" item="id" separator=",">
                #{id}
            </foreach>
            )

    </delete>
    <select id="getCount" resultType="integer">
        select count(id)
        from dish
        where is_deleted = 0
    </select>
    <select id="getPage" resultMap="dishDto">
        select d.id, d.name, d.category_id, d.price, d.code, d.image, d.description, d.status, d.sort, d.create_time, d.update_time, d.create_user, d.update_user ,c.name categoryName
        from dish d
        right join category c on d.category_id = c.id
        where is_deleted = 0
            <if test="name != null">
                and d.name like #{name}
            </if>
        order by sort desc, update_time desc
        limit #{page},#{pageSize}
    </select>
    <select id="getById" resultMap="dishDto">
        select *
        from dish
        where id = #{id}
    </select>
    <select id="getByCategoryId" resultMap="dishDto">
        select *
        from dish
        where category_id = #{categoryId} and status = 1
    </select>

</mapper>