<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wds.mapper.SetMealMapper">
    <resultMap id="setMeal" type="com.wds.entity.Setmeal">
        <result property="categoryId" column="category_id"/>
        <result property="createUser" column="create_user"/>
        <result property="updateUser" column="update_user"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <resultMap id="setMealDto" type="com.wds.dto.SetmealDto">
        <result property="categoryId" column="category_id"/>
        <result property="createUser" column="create_user"/>
        <result property="updateUser" column="update_user"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>
    <update id="updateById">
        update setmeal
        set name        = #{name},
            category_id = #{categoryId},
            price       = #{price},
            image       = #{image},
            description = #{description},
            update_time = #{updateTime},
            update_user = #{updateUser}
        where id = #{id}
    </update>


    <select id="count" resultType="integer">
        select count(id)
        from setmeal
    </select>
    <select id="getPage" resultMap="setMealDto">
        select s.id, s.category_id, s.name, s.price, s.status, s.code, s.description, s.image, s.create_time,
        s.update_time, s.create_user,
        s.update_user, c.name categoryName
        from setmeal s
        right join category c on s.category_id = c.id
        where is_deleted = 0
        <if test="name!= null">
            and name like #{name}
        </if>
        order by update_time desc
        limit #{start},#{pageSize}
    </select>
    <select id="getById" resultMap="setMealDto">
        select id,
               category_id,
               name,
               price,
               status,
               code,
               description,
               image,
               create_time,
               update_time,
               create_user,
               update_user
        from setmeal
        where is_deleted = 0
          and id = #{id}
    </select>
    <select id="getList" resultMap="setMeal">
        select *
        from setmeal
        where category_id = #{categoryId}
    </select>
</mapper>