<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wds.mapper.UserMapper">

    <resultMap id="user" type="com.wds.entity.User">
        <result column="id_number" property="idNumber"/>
    </resultMap>
    <insert id="save">
        insert into user(id, name, phone, sex, id_number)
         values (#{id}, #{name}, #{phone}, #{sex}, #{id_number})
    </insert>
    <select id="getUserByPhone" resultMap="user">
        select *
        from user
        where phone = #{phone};
    </select>
</mapper>