<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wds.mapper.OrdersMapper">

    <resultMap id="orders" type="com.wds.entity.Orders">
        <result property="addressBookId" column="address_book_id"/>
        <result property="userId" column="user_id"/>
        <result property="userName" column="user_Name"/>
        <result property="orderTime" column="order_time"/>
        <result property="checkoutTime" column="checkout_time"/>
        <result property="payMethod" column="pay_method"/>

    </resultMap>
    <insert id="save">
        insert into orders(id, number, status, user_id, address_book_id, order_time, checkout_time, pay_method, amount,
                           remark, phone, address, user_name, consignee)
        values (#{id}, #{number}, #{status}, #{userId}, #{addressBookId}, #{orderTime}, #{checkoutTime},
                #{payMethod}, #{amount}, #{remark}, #{phone}, #{address}, #{userName}, #{consignee})
    </insert>
    <update id="updateStatusById">
        update orders
        set status = #{status}
        where id = #{id}
    </update>

    <select id="getUserPage" resultMap="orders">
        select *
        from orders
        where user_id = #{userId}
        order by order_time desc
        limit #{page},#{pageSize}
    </select>
    <select id="getCount" resultType="integer">
        select count(id)
        from orders
        <where>
            <if test="number != null">
                <bind name="key" value="'%' + number + '%'"/>
                number like #{key}
            </if>
        </where>
    </select>
    <select id="getPage" resultMap="orders">
        SELECT o.id,
        o.number,o.`status`,o.user_id,o.address_book_id,o.order_time,o.checkout_time,o.pay_method,o.amount,o.remark,o.phone,o.address,o.consignee,u.name
        user_name
        FROM orders o
        left JOIN user u on u.id = o.user_id
        <where>
            <if test="number != null">
                <bind name="key" value="'%' + number + '%'"/>
                number like #{key}
            </if>
            <if test="begin != null and end != null">
                order_time between #{begin} and #{end}
            </if>
        </where>
        order by order_time desc
        limit #{page},#{pageSize}
    </select>
</mapper>