<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wds.mapper.ShoppingCartMapper">
<resultMap id="cart" type="com.wds.entity.ShoppingCart">
    <result property="userId" column="user_id"/>
    <result property="dishId" column="dish_id"/>
    <result property="setmealId" column="setmeal_id"/>
    <result property="dishFlavor" column="dish_flavor"/>
    <result property="createTime" column="create_time"/>
</resultMap>


    <insert id="save">
        insert into shopping_cart (id, name, image, user_id, dish_id, setmeal_id, dish_flavor, amount, create_time)
        VALUES (#{id}, #{name}, #{image}, #{userId}, #{dishId} ,#{setmealId}, #{dishFlavor},#{amount},#{createTime})
    </insert>
    <update id="addNumberById">
        update shopping_cart set number = number + 1 where id = #{id}
    </update>
    <update id="sub">
        update shopping_cart set number = number -1
        where
                number > 0
            <if test="dishId != null">
                and dish_id = #{dishId}
            </if>
            <if test="setmealId != null">
               and setmeal_id = #{setmealId}
            </if>
    </update>
    <delete id="clean">
        delete from shopping_cart where user_id = #{userId}
    </delete>
    <select id="getListByUserId" resultMap="cart">
        select * from shopping_cart where user_id = #{userId}
    </select>
    <select id="getByDishId" resultMap="cart">
        select * from shopping_cart
        <where>
            user_id = #{userId}
            <if test="dishId != null">and dish_id = #{dishId} </if>
            <if test="setmealId != null">and setmeal_id = #{setmealId} </if>
        </where>
    </select>

</mapper>